# Sensitive encrypted seed file
encrypted_seed.txt

# Python cache
__pycache__/
*.pyc

# Local environment variables
.env

# Editor / IDE settings
.vscode/
.idea/

# Bytecode & cache
*.pyo
*.pyd

# Docker build leftovers (optional)
*.log
